= form_tag(local[:path], method: :get, class: "form-inline") do
  div.form-group
    = text_field_tag :search_term, params[:search_term], class: "form-control search-bar"
  = submit_tag 'Search', name: nil, class: "btn btn-primary search-button"