// Application wide styles
@import "bootstrap";
@import "navbar";
@import "home";

// Remove underline on links
 a:link {
   text-decoration: none;
 }

 // Position footer at absolute bottom
 html, body {
   height: 100%;
 }

 body {
   display: flex;
   flex-direction: column;
 }

 .content {
   flex: 1 0 auto;
 }

.card {
  height: 400px;
  padding: 10px;
}

.card-img-top {
  width:100%;
  height: 250px;
  object-fit: cover;
  overflow: hidden;
}